.detailsContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    img{
        width: 100px;
        height: 100px;
    }
}

.btns{
    width: 300px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    button{
        cursor: pointer;
        background-color: rgb(63, 146, 63);
        color: white;
        width: 200px;
        height: 40px;
        margin-top: 20px;
        border-radius: 8px;
        border: none;
        transition: 1s;
        &:hover{
            background-color: rgb(18, 58, 18);
        }
    }
    button:last-child{
        background-color: rgb(190, 58, 58);
        &:hover{
            background-color: red;
        }
    }
}